<!DOCTYPE html>
<html>
<head>
  <title>WebrtcRails</title>
  <%= stylesheet_link_tag "webrtc_rails/application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>

<%= javascript_include_tag :jquery %>
<%= javascript_include_tag 'webrtc_rails/application' %>
<% if content_for? :javascript %>
  <%= yield :javascript %>
<% end %>
</body>
</html>
