<!DOCTYPE html>
<html>
<head>
  <title>WebrtcRails</title>
  <%= stylesheet_link_tag    "webrtc_rails/application", media: "all" %>
  <%= javascript_include_tag "webrtc_rails/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= javascript_tag do %>
  Room.initialize('localVideo', 'remotesVideos');
<% end %>

</body>
</html>
