<h1>Crear sala de reunión</h1>

<%= form_for @room, url: rooms_path, method: :post do |f| %>

  <% if @room.errors.any? %>
    <div class="errors">
      <% @room.errors.messages.each do |error| %>
        <%= error.first %>: <%= error.last.join(', ') %>
      <% end %>
    </div>
  <% end %>

  <%= f.text_field :name, autofocus: true %>
  <%= f.submit %>
<% end %>
